body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

#titulo{
    color:purple;text-align:center;font-size: 40px;font-family: Verdana, Geneva, Tahoma, sans-serif
}

#parrafo{
    color: darkslategrey;
    font-size: 30px;
    text-justify: initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#titulo-condicional{
    color:purple;
    font-size: 20px;

}